.account-manage-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.account-manage-container .form-button {
  width: 10rem;
  align-self: flex-end;
}

.account-manage-container .delete-account-button {
  background-color: #e74c3c;
}

.account-manage-form-control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.account-manage-form-control label {
  text-align: right;
  word-wrap:break-word;
  width: 30%;
  margin-right: 1rem;
}