.container {
  font-family: sans-serif;
}

nav {
  width: 100%;
  height: 4rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

.icon-container {
  width: 5%;
  text-align: left;
  padding-left: 1rem;
}

.document-icon {
  color: #02153d;
  height: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  cursor: pointer;
}

.search-container {
  position: relative;
  width: 60%;
}

.search-icon {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  cursor: pointer;
  color: gray;
}

.search-icon:hover {
  color: #02153d;
}

.documents-main {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
}

.documents-main section h3 {
  margin-bottom: 1rem;
  color: #444;
  margin-left: 4rem;
}

.documents-main section {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.content {
  padding-left: 6rem;
  padding-right: 6rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.documents-main section:nth-child(2) {
  background-color: white;
  width: 100%;
}

.search-input {
  width: 80%;
  height: 70%;
  border: none;
  background-color: #eee;
  border-radius: 1rem;
  font-size: large;
  padding: 0.5rem;
  padding-left: 2rem;
}

@media screen and (max-width: 600px) {
  .content {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }

  .documents-main section h3 {
    text-align: center;
    margin-left: 0;
  }

  .search-input {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .search-container {
    margin-left: 10%;
  }
}

.document-container {
  width: 8.5rem;
  height: 14rem;
  color: #666;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
}

.manage-account-link {
  border: 1px solid #3e5ea1;
  border-radius: 50%;
  background-color: #85a0d8;
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
  color: #02153d;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.manage-account-menu {
  background-color: lightgray;
  height: 10vh;
  width: 12rem;
  position: absolute;
  border-radius: 0.5rem;
  border: 1px solid rgba(0,0,0,0.1);
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
}

.manage-account-menu-link {
  color: gray;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
  padding-left: 1rem;
  font-size: 0.9rem;
  line-height: 2;
}

.manage-account-menu-link:hover {
  color: #02153d;
  background-color: #888;
}

.manage-account-menu-link:active {
  transform: translateY(0.2rem);
}

.document-container:hover .document-thumbnail-title-link {
  color: #02153d;
}

.document, .document-content {
  width: 8.5rem;
  height: 11rem;
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 5rem;
  border: 1px solid rgba(0,0,0,0.3);
  text-decoration: none;
}

.document-content {
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 0.6rem;
  padding-top: 0.2rem;
  font-size: 0.4rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.document-thumbnail-title-link {
  text-decoration: none;
  color: #666;
}

.delete-confirmation-dialog {
  position: fixed;
  top: 30%;
  left: 0%;
  width: 20rem;
  height: 10rem;
  color: gray;
  border-radius: 1rem;
  background-color: lightgray;
  z-index: 100;
  padding-top: 0;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  user-select: none;
  animation: fadeIn 0.3s ease-in-out;
}

.delete-confirmation-dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.delete-confirmation-dialog-title {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.delete-confirmation-icon {
  color: lightcoral;
  margin-right: 0.5rem;
}

.delete-confirmation-dialog-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
}

.delete-confirmation-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 0.85rem;
}

.delete-confirmation-dialog-button,
.form-link-button,
.account-manage-container .form-button {
  width: 5rem;
  height: 2rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  border: none;
  background-color: #3e5ea1;  
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
}

.delete-confirmation-dialog-button:hover,
.form-link-button:hover,
.account-manage-container .form-button:hover {
  outline: 1px solid black;
  background-color: #02153d;
}

.delete-confirmation-dialog-button:active,
.form-link-button:active,
.account-manage-container .form-button:active {
  transform: translateY(2px);
}

.delete-icon {
  position: absolute;
  bottom: 3.5rem;
  right: 0.5rem;
  cursor: pointer;
  color: gray;
}

.delete-icon:hover {
  color: #02153d;
}

.document:hover, .document-content:hover {
  color: #02153d;
  border: 1px solid #02153d;
}

pre {
  font-family: sans-serif;
}


.hidden {
  display: none !important;
}
