<table style="margin:0; font-family:sans-serif; width:100%;">
  <tbody>
    <tr>
      <td>
        <h3>Your 6-digit code for password reset is:</h3>
      </td>
    </tr>
    <tr style="margin:3rem; padding-right:6rem;">
      <td>
        <h1>
          <%= code %>
        </h1>
      </td>
    </tr>
    <tr>
      <td>This code expires in 1 hour
      </td>
    </tr>
  </tbody>
  <tfoot style="color:black; font-size:small;">
    <tr>
      <td>
        This email was sent by: PunitDh Docs
      </td>
    </tr>
  </tfoot>
</table>