<table style="margin:0; font-family:sans-serif; width:100%;">
  <tbody>
    <tr>
      <td>
        <h1>Confirm registration for PunitDh Docs</h1>
      </td>
    </tr>
    <tr style="margin:3rem;padding-right:6rem;">
      <td>
        Please confirm your email address by clicking on the link below:
        <a href="<%= url %>/confirm-account?token=<%= token %>">Confirm Email</a>
      </td>
    </tr>
    <tr>
      <td>Or copy paste this link into your browser: <a href="<%= url %>/confirm-account?token=<%= token %>">
          <%= url %>/confirm-account?token=<%= token %>
        </a>
      </td>
    </tr>
  </tbody>
  <tfoot style="color:black; font-size:small;">
    <tr>
      <td>
        This email was sent by: PunitDh Docs
      </td>
    </tr>
  </tfoot>
</table>