.container {
  height: 100vh;
}

.auth-main {
  display: flex;
  flex-direction: row;
  height: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.auth-main section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap: 3rem;
  flex-direction: column;
}

.auth-main section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1rem;

  color: var(--color-primary-variant);
}

.auth-main section form h2 {
  color: var(--color-primary-variant);
  width: 60%;
  text-align: right;
}

.auth-main section form h3 {
  color: #444;
  margin: 0;
  padding: 0;
}

.auth-screen-left-section h1 {
  color: var(--color-primary-variant);
  padding: 20px;
  border-radius: 5rem;
  cursor: pointer;
  transition: var(--transition);
}

.auth-screen-left-section h1:hover {
  background-color: var(--color-primary-variant);
  color: var(--color-primary);
}

.user-input {
  width: 60%;
}

.password-input {
  width: 100%;
}

.auth-main section form input,
.account-manage-container input {
  height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 1rem;
  color: var(--color-primary-variant);
  background-color: #eee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding-left: 0.5rem;
}

.form-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60%;
  gap: 0.25rem;
}

.code-input {
  transition: all 1.5s ease-in-out;
}

.form-helper-text {
  color: #444;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  font-style: italic;
  width: 60%;
  text-align: right;
}

.form-link {
  color: #333;
  cursor: pointer;
  text-align: right;
}

.password-container {
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.password-eye {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  cursor: pointer;
  color: gray;
  z-index: 5;
}

.password-eye:hover {
  color: var(--color-primary-variant);
}

.thin-line {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 40%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .auth-main {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .auth-main section {
    width: 100%;
    gap: 0.5rem;
  }

  .auth-main section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 50%;
    border-radius: 0;
  }

  .auth-main section:nth-child(2) {
    height: 70%;
  }

  .auth-main section form h2 {
    text-align: center;
    font-size: 1.2rem;
  }

  .auth-main section form .form-links-container {
    width: 100%;
    align-items: center;
  }

  .auth-screen-left-section h1,
  .auth-screen-left-section h3 {
    text-align: center;
    margin: 0 auto;
  }

  .password-eye {
    top: 0rem;
  }
}

@media screen and (max-width: 300px) {
  .auth-main section {
    height: 40%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: smaller;
  }

  .auth-main section:nth-child(2) {
    height: 60%;
  }

  .password-eye {
    left: 105%;
  }

  .auth-main section form input,
  .account-manage-container input {
    height: 100%;
  }
}

.auth-screen-left-section {
  /* background: linear-gradient(var(--color-bg) 0%, var(--color-bg-variant) 100%); */
  color: var(--color-primary);
  border-radius: 2rem;
  background-repeat: repeat;
  user-select: none;
}

.logout-message {
  font-family: "Roboto", sans-serif;
  color: var(--color-primary-variant);
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.confirm-main {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-main section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.confirm-main h3 {
  margin-bottom: 3rem;
  color: #444;
  text-align: center;
}
